header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 5rem;
  background-color: #4682b4;
  color: white;
}

.link {
  display: flex;
  /* justify-content: space-evenly;   */
  padding: 0 20px;
  text-decoration: none;
  list-style: none;
}

.link li {
  color: white;
  list-style: none;
  margin: 20px;
  font-size: 1.1em;
}

.link a {
  text-decoration: none;
}

.link li:hover {
  color: wheat;
}

img {
  height: 60px;
  max-width: 100px;
  padding: 10px;
}
